* {
  font-family: monospace, sans-serif;
}

.result-panel {
  width: 100%;
  height: 400px;
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 1.5rem;
  overflow-y: auto;
  background-color: #ffffff;
  box-sizing: border-box;
}

.user-prompt {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1.25rem;
  color: rgb(9, 128, 31);
  font-weight: bold;
}

.prompt-symbol {
  font-weight: bold;
}

.user-prompt p {
  margin: 0;
}

.result-content h2 {
  margin-top: 0;
}

.result-content p {
  line-height: 1.6;
}

.prompt-interface {
  width: min(700px, 90vw);
  min-height: 100vh;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.result-content {
  padding-bottom: 3rem;
  border-bottom: 1px solid #e5e5e5;
}

#command-input {
  padding: 5px;
  margin: 0.5rem;
  height: 3rem;
  width: 90%;
}

.prompt-form {
  display: flex;
  justify-content: space-between;
  border-radius: 16px;
  box-shadow: 2px 2px 2px #e5e5e5;
  border: 1px solid #ddd;
  padding: 5px;
}

#submit-button {
  padding: 5px;
  margin: 0.5rem;
  box-shadow: 0px 0px 30px #e5e5e5;
  border-radius: 16px;
  border: 1px solid e5e5e5;
}

#submit-button:hover {
  cursor: pointer;
}

.prompt-list {
  display: flex;
}

.prompt-list-title {
  font-weight: bold;
  padding-left: 0.2rem;
}
